html, body {
    height: 100%;
    width: 100%;
}

/* Style for the bulb element */
#bulb {
    height: 300px; /* Set the height of the bulb */
    width: 200px; /* Set the width of the bulb */
    border-radius: 50%; /* Make the bulb circular by setting border-radius to half of its width */
    border: 5px solid; /* Set a solid border around the bulb with a thickness of 5px */
    border-color: black; /* Set the color of the border to black */
    display: flex; /* Set the display property to flex */
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    /*justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center; /* Align items in the center along the cross axis */
    width: 300px; /* Set a fixed width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* Style for the button element */
button {
    display: flex; /* Set the display property to flex */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    
    padding: 10px 30px; /* Set padding inside the button */
    font-size: 20px; /* Set the font size of the button text */
    
    
    margin: 100px; /* Set margin around the button to create space */
    width: 300px; /* Set a fixed width for the button */
}
